name: Terraform CI/CD

on:
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "*.md"

env:
  TF_VAR_cloud_id: ${{ secrets.YC_CLOUD_ID }}
  TF_VAR_folder_id: ${{ secrets.YC_FOLDER_ID }}

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install YC CLI
        run: |
          curl https://storage.yandexcloud.net/yandexcloud-yc/install.sh | bash
          echo "$HOME/yandex-cloud/bin" >> $GITHUB_PATH

      - name: Decode service account key
        run: |
          echo "${{ secrets.YC_SA_KEY_BASE64 }}" | base64 -d > key.json

      - name: Configure YC CLI
        run: |
          yc config set cloud-id ${{ secrets.YC_CLOUD_ID }}
          yc config set folder-id ${{ secrets.YC_FOLDER_ID }}
          yc config set token "$(yc iam create-token --sa-key-file key.json)"

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform init/plan/apply for all directories
        run: |
          DIRS=("backend" "infra")  # список подпапок с Terraform
          for dir in "${DIRS[@]}"; do
            echo "=============================="
            echo "Processing $dir"
            echo "=============================="

            cd $dir

            echo "--- terraform init ---"
            terraform init

            echo "--- terraform validate ---"
            terraform validate

            echo "--- terraform plan ---"
            terraform plan -out=tfplan

            if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
              echo "--- terraform apply ---"
              terraform apply -auto-approve tfplan
            else
              echo "Skipping apply (not main branch)"
            fi

            cd ..
          done
